* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
    transition: opacity 0.5s ease-in-out ;
    animation: float 5s ease-in-out infinite;
    opacity: 0.5;
}

.container:hover {
    opacity: 1;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

button {
    padding: 12px 20px;
    background: #ff4081;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: #e6005c;
    transform: scale(1.1);
}

.quote-message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #444;
    min-height: 80px;
    padding: 10px;
    line-height: 1.4;
    transition: all 0.3s ease-in-out;
}