* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
    animation: float 4s ease-in-out infinite;
}

.container:hover {
    transform: scale(1.05);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

h1 {
    color:   #ff3c00;
    font-size: 26px;
    margin-bottom: 25px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.quote-message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    min-height: 80px;
    padding: 15px;
    line-height: 1.4;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease-in-out;
}

.quote-message.show {
    opacity: 1;
    transform: translateY(0);
}


button {
    padding: 12px 25px;
    background: linear-gradient(45deg, #ff4081, #ff9800);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 15px rgba(255, 64, 129, 0.5);
}

button:hover {
    background: linear-gradient(45deg, #e6005c, #ff6500);
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(255, 64, 129, 0.7);
}

.author {
    display: block;
    font-size: 18px;
    color: #ff3c00;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
footer {
    margin-top: 20px;
    padding: 12px;
    margin-bottom: -20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}
